
<div id="app">

<h2>Tasks</h2>
<ul>
  <li v-for="task in tasks" v-on:click="completeTask(task)">
  {{ task }}
  </li>
</ul>
<div>
  <input type="text" v-model="newTask">
  <button v-on:click="addTask()">Add Task</button>
</div>
 
 </div>
